<%- include("header")-%>
        <div class="chosen-quarter-grid-header">
          <%=currentTerm%>
        </div>
        <div class="chosen-quarter-grid">
          <!--EJS variable array "currentTermCourses" supplied by server app.js-->
          <% for (var i=0; i<currentTermCourses.length; i++){ %>
            <div class="chosen-course">
              <%= currentTermCourses[i] %>
              <form class="" action="/edit" method="post" style="margin: 0px;">
                <button class="remove-course-button" name="removeCourse" value= <%= i %>>
                  Remove
                </button>
              </form>
            </div>
          <% } %>
        </div>

        <div class="avaliable-courses-header">
          Avaliable Courses
        </div>

        <% for (var z=0; z<allCourses.length; z++){ %>
        <div class="course-card">
            <form class="add-course-form allForms" action="edit/" method="post">
              <button class="add-course-button" name="addCourse" value=<%=z%>>
                  Add Course
              </button>
            </form>
            <div class="card-course-name">
              <%=allCourses[z]%>
            </div>
            <p class="card-course-description">
              Description :
              <br><br>
              *This is where the description will go. The description will be pulled from the database.
            </p>
        </div>
        <% } %>

    <script src="index.js" charset="utf-8"></script>
<%- include("footer")-%>
