<%- include("header")-%>
<!-- The main grid -->
<div class="main-grid">

  <div class=""></div>
  <div class="season">Fall</div>
  <div class="season">Winter</div>
  <div class="season">Spring</div>
  <div class="season">Summer</div>

  <% let quarterCount=0;%>
  <% for(var i=0; i<years.length; i++){ %>
    <div class="year"><%= years[i] %></div>
    <% for(var x=0; x<4; x++){ %>
      <form class="quarter" action="/" method="post">
        <button name="name" value=<%=quarterCount%>>
          <!--EJS variable array "usersCourses" supplied by server app.js-->
            <% for(var c=0; c<usersCourses[quarterCount].length; c++){ %>
              <%= usersCourses[quarterCount][c] %> <br>
        <% } %>
        </button>
      </form>
      <% quarterCount++;%>
    <% } %>
  <% } %>
</div>
<div class="add-remove-div">
  <form action="/" method="post">
    <button class="add-year" name="name" value="add-year">Add Year</button>
  </form>
  <form action="/" method="post">
    <button class="remove-year" name="name" value="remove-year">Remove Year</button>
  </form>
</div>
<script src="index.js" charset="utf-8"></script>
<%- include("footer")-%>
