<%- include("header")-%>
<!-- The main grid -->
<div class="main-grid">

  <div class=""></div>
  <div class="season">Fall</div>
  <div class="season">Winter</div>
  <div class="season">Spring</div>
  <div class="season">Summer</div>

  <% for(var i=0; i<years.length; i++){ %>
    <div class="year"><%= years[i] %></div>
    <% let quarterCount=0;%>
    <% for(var x=0; x<4; x++){ %>
      <form class="quarter" action="/edit" method="post">
        <button name="q" value=<%=quarterCount %>>
          <!--EJS variable array "quarterCourses" supplied by server app.js-->
          <% for(var c=0; c<quarterCourses.length; c++){ %>
          <%= quarterCourses[c] %> <br>
          <% } %>
        </button>
      </form>
      <% quarterCount++;%>
    <% } %>
  <% } %>
</div>
<div class="addRemoveDiv">
  <form action="/" method="post">
    <button class="addYear" name="editYear" value="add">Add Year</button>
  </form>
  <form action="/" method="post">
    <button class="RemoveYear" name="editYear" value="remove">Remove Year</button>
  </form>
</div>
<script src="index.js" charset="utf-8"></script>
<%- include("footer")-%>
